@charset "utf-8";

body{
	color: #3d3d3d;
}
div#container {
	position: relative;
	display: block;
	width: 960px;
	margin: 20px auto;
}

header h1 a{
	text-decoration: none;
	font-variant: small-caps;
	color: #3d3d3d;
}
nav#admin{
	position: absolute;
	top: 0; right: 0;
}
